<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnforge.learning.mapper.PointsBoardMapper">

    <insert id="createPointsBoardTable" parameterType="java.lang.String">
        CREATE TABLE `${tableName}`
        (
            `id`      BIGINT NOT NULL AUTO_INCREMENT COMMENT 'Application data',
            `user_id` BIGINT NOT NULL COMMENT 'Application data',
            `points`  INT    NOT NULL COMMENT 'Application data',
            PRIMARY KEY (`id`) USING BTREE,
            INDEX `idx_user_id` (`user_id`) USING BTREE
        )
            COMMENT ='Seasonal points leaderboard'
	COLLATE = 'utf8mb4_0900_ai_ci'
	ENGINE = InnoDB
	ROW_FORMAT = DYNAMIC
    </insert>
</mapper>
